@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.search {
  display: flex;
  align-items: center;
  gap: 10px;
}

select,
input {
  width: 200px;
  height: 30px;
  background-color: rgb(52, 52, 52);
  border: none;
  border-radius: 4px;
  color: white;
  padding-left: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
  width: 80vw;
  margin: 0 auto;
  background-color: rgb(13, 13, 13);
}

.links a {
  color: white;
  padding: 6px 12px;
  background-color: rgb(28, 28, 28);
  text-decoration: none;
  border-radius: 4px;
}

.links a.selected {
  background-color: rgb(64, 30, 143);
}

.filters {
  display: flex;
  gap: 10px;
}

.users {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid rgb(59, 59, 59);
  border-radius: 4px;
  padding: 10px;
}

.no-users {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.no-users.hidden {
  display: none;
}

.user {
  display: flex;
  gap: 15px;
  background-color: rgb(36, 36, 36);
  border-radius: 4px;
  min-height: 100px;
  flex-shrink: 0;
  padding: 20px;
}

.user-right {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.users .name {
  font-size: 20px;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

.top-section {
  display: flex;
  gap: 20px;
}

.top-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top-right {
  background-color: rgb(35, 35, 35);
  margin-left: auto;
  width: 350px;
  padding: 15px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.avatar {
  width: 128px;
  height: 128px;
  border-radius: 4px;
}
